*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body{
    font-family: 'Poppins', sans-serif;
    background: rgb(5,21,39);
    background: radial-gradient(circle, rgba(5,21,39,1) 7%, rgba(1,66,111,1) 67%, rgba(4,100,166,1) 100%);    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 28vh auto 18vh;
    grid-template-areas: "header"
                        "main"
                        "footer";

}


/* estilos header */

header{
        grid-area: header;
        background-color: rgb(255, 255, 255);
        box-shadow: 1em 1em 1em 1em rgba(0,0,0,0.50);
        opacity: 90%;
        font-size: 0.9rem;
        position: sticky;
        top: 0;
        display: flex;
        flex-direction: column;
        z-index: 1;
        justify-content: center;
        align-items: center;
        text-align: center;
        transition: transform 1s;
}

.logo:hover{
    transform: scale(0.9);
}

nav ul{
    width: 100%;
    list-style-type: none;
}

nav ul li{
    display: inline-block;
    text-align: center;
    position: relative;
    transition: transform 0.5s;
}

nav ul li:hover{
    transform: scale(0.95);
}

nav ul li a:link, a:visited, a:active {
    text-decoration: none;
    color: black;
}

nav ul li a{
    padding-left: 1em;
}

nav ul li a:hover{
    color: #01395c;
    cursor: pointer;
}

ul li ul {
    position: absolute;
    right: 0;
    display: none;
}

ul ul li{
    width: 10em;
    display: block;
    background-color: rgba(255, 255, 255, 0.50);
    border: 0.1em solid black;
    padding: 0.5em;
}


ul li:hover ul{
    display: block;
}

.whatsapp{
    position: fixed;
    bottom: 1.5em;
    right: 1.5em;
    z-index: 1;
}

.perrito{
    position: fixed;
    bottom: -5.7em;
    left: -4.1em;
    z-index: 2;
}

.perrito2{
    position: fixed;
    bottom: -7em;
    left: 1em;
    z-index: 2;
}

.perrito3{
    position: fixed;
    bottom: -5.7em;
    left: -1em;
    z-index: 2;
}

.perrito4{
    position: fixed;
    bottom: -0.5em;
    left: -12em;
    z-index: 2;
}

.perrito5{
    position: fixed;
    bottom: -7.1em;
    left: 0em;
    z-index: 2;
}


/* estilos main */

main{
    display: grid;
    grid-area: main;
}


/* estilos main index */

.index-grid{
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;
    grid-template-areas: "portada"
                         "circulos";
}

#portada{
    grid-area: portada;
    overflow: hidden;
    box-shadow: 1em 1em 1em 1em rgba(0,0,0,0.50);

}

#circulos{
    grid-area: circulos;
}

.portada__container{
    height: 100vh;
    text-align: center;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "portada";
    justify-content: center;
    align-items: center;
}


.texto{
    grid-area: portada;
}

.slider{
    width: 100%;
    margin: auto;
    overflow: hidden;
    grid-area: portada;
}

.slider ul{
    display:flex;
    width: 400%;
    animation: slider 15s infinite alternate ease-in-out;
}

.slider li {
    width: 100%;
    height: 100vh;
    list-style: none;
    background-size: cover;
    background-position:center; 
}

.slider1{
    background-color: red;
    background-image: url("../images/banner.jpg");
}

.slider2{
    background-color: blue;
    background-image: url("../images/banner2.jpg");

}

.slider3{
    background-color: yellow;
    background-image: url("../images/banner3.jpg");

}

.slider4{
    background-color: green;
    background-image: url("../images/banner4.jpg");

}

.slider img{
    width: 100vw;
}

@keyframes slider {
    0%{ margin-left: 0; }
    20%{ margin-left: 0; }

    25%{ margin-left: -100%; }
    45%{ margin-left: -100%; }

    50%{ margin-left: -200%; }
    70%{ margin-left: -200%; }

    75%{ margin-left: -300%; }
    100%{ margin-left: -300%; }

}



.portada__container__h1{
    color: white;
    text-shadow: .1em .1em .1em black;
    font-size: 3.5rem;
}

.portada__container__h2, .circulos__h2{
    padding: 1em 8em 0 8em;
    color: white;
    text-shadow: .1em .1em .1em black;
    font-size: 1.2rem;
}

a{
    text-decoration: none;
}

.portada__container__h3{
    padding: 1em 8em 0 8em;
    color: lightgray;
    text-shadow: .4em .5em 1em black;
    font-size: .8rem;
}


#circulos{
    height: auto;
    margin-top: 2em;
    margin-bottom: 2em;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.5fr 1.5fr;
    grid-template-areas: "circulos__h2"
                         "circulos__container" ;
    text-align: center;
    align-items: center;
    justify-content: center;
    row-gap: 2em;
}

.circulos__h2{
    grid-area: circulos__h2;
}

.circulos__container{
    grid-area: circulos__container;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "circ1 circ2 circ3";
    justify-content: center;
    justify-items: center;
    align-items: center;
}

.circulos__container__circulo1, .circulos__container__circulo2, .circulos__container__circulo3 {
    width: 14em;
    height: 14em;
    border-radius: 50%;
    background: #c9c764;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 1em 1em 1em 1em rgba(0,0,0,0.50);
    transition: transform 1s; 
}

.circulos__container__circulo1{
    grid-area: circ1;
}


.circulos__container__circulo2{
    grid-area: circ2;
}

.circulos__container__circulo3{
    grid-area: circ3;
}

.circulos__container__circulo1:hover, .circulos__container__circulo2:hover, .circulos__container__circulo3:hover{
    background: #fdf905;
    transform: scale(1.1);
}

#circulos p{
    text-transform: uppercase;
}


/* estilos main page servicios */

main#servicios{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3 1fr);
    grid-template-areas: "paseos"
                        "pensionados"
                        "traslados";
}

section[id]{
    scroll-margin-top: 28vh;
}

#paseos{
    grid-area: paseos;
}

#pensionados{
    grid-area: pensionados;
}

#traslados{
    grid-area: traslados;
}

#paseos, #pensionados, #traslados{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    word-break:break-all;
    align-items: center;
}

.paseos__img, .pensionados__img, .traslados__img{
    height: 350px;
    width: 350px;
    border-radius:50%;
    background-size: cover;
    background-position: center;
    border:10px solid #666;
    margin-top: 2em;
    margin-bottom: 2em;
}

.paseos__img{
    background-image: url("https://images.unsplash.com/photo-1494947665470-20322015e3a8?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80");
}

.pensionados__img{
    background-image: url("https://cdn.redcanina.es/wp-content/uploads/2019/01/16213607/perro-durmiendo-mucho-750x375.jpg");
    background-position: right;
}


.traslados__img{
    background-image: url("https://st.depositphotos.com/1146092/5090/i/600/depositphotos_50901051-stock-photo-dog-window-car.jpg");
    background-position: right;
}

.paseos__texto, .pensionados__texto, .traslados__texto{
    width: 50vw;
    color: white;
}



/* estilos main page manada */

#manada{
    color:white;
    text-align: center;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 150px auto auto;
    grid-template-areas:"manada__h1" 
                        "manada__primerTurno"
                         "manada__segundoTurno";
}


#manada__primerTurno{
    grid-area: manada__primerTurno;
}

#manada__segundoTurno{
    grid-area: manada__segundoTurno;
}

#manada h1{
    margin-top: 1em;
    grid-area: manada__h1;
}

#manada h2{
    margin-top: 2em;
}

#manada ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin:2em 0 2em 0;
}

#manada ul li{
    display: flex;
    flex-direction: column;
}

#manada li img{
    border:10px solid #666;
}

.card-container{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: card;
    text-align: center;
    justify-content: center;
    transform: rotateY(0deg);
    transform-style: preserve-3d;
    transition: 0.5s cubic-bezier(0.4, 0.2, 0.2, 1);
}

.card-container:hover{
    transform: rotateY(180deg);
}

.card-container:hover .front{
    transform: rotateY(-180deg);
}

.card-container:hover > .back{
    visibility: visible;
    transform: rotateY(180deg);
}

.card{
    grid-area: card;
}

.back{
    width: 300px;
    height: 440px;
    background-color: rgba(255, 255, 255, 0.39);
    color: #03243a;
    visibility: hidden;
    display: flex;
    align-items: center;
    
}

/* estilos main page sobre mi */

#sobremi{
    color: white;

}

#sobremi section{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "sobreMiImg sobreMiTexto";
    align-items: center;

}

.sobremi__img{
    grid-area: sobreMiImg;
}

.sobremi__texto{
    grid-area: sobreMiTexto;
    padding: 1em;
}

#sobremi img{
    margin: 2em;
    border-radius: 5%;
    box-shadow: 1em 1em 1em 1em rgba(0,0,0,0.50);
    border:10px solid #666;

}


/* estilos main contacto */

#contacto{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.5fr 1fr;
    grid-template-areas: "redes form"
                         "map form";
    grid-row-gap: 1em;
    grid-column-gap: 1em;
    color: white;
}

#contacto__form{
    text-align: center;
    align-self: center;
    justify-self: center;
    grid-area: form;
    margin: 1em;
}

#contacto__redes{
    grid-area: redes;
    margin: 4em 0 0 5em;
}

#contacto__redes a{
    color: lightgray;
}

#contacto__redes__ig{
    margin-top: 2em;
}


#contacto__map{
    grid-area: map;
    margin:4em;
}


label{
    display: block;
    margin-top: 1em;
}

#submit{
    padding: 0.5em;
    margin: 1em;
    font-family: 'Poppins', sans-serif;

}

textarea{
    font-family: 'Poppins', sans-serif;
    margin: 2em;
    padding: 1em;
}

#nombre, #email, #contacto{
    font-family: 'Poppins', sans-serif;
    padding-left: 0.5em;
}


/* estilos footer */

footer{
    grid-area: footer;
    background-color: rgba(255, 255, 255, 0.445);
    opacity: 80%;
    margin-top: 1em;
    display: flex;
    justify-content:flex-end;
    align-items: center;
}


#copy{
    font-size: 0.8rem;
    margin-right: 1em;
}

#instagram{
    margin-right: 5em;
}

@media only screen and (max-width: 1024px){

#paseos, #pensionados, #traslados{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "serviciosImg"
                         "serviciosTexto";
    justify-content: center;
    justify-items: center;
    align-items:flex-start;
}

.paseos__img, .pensionados__img, .traslados__img{
    grid-area: serviciosImg;
}

.paseos__texto, .pensionados__texto, .traslados__texto{
    grid-area: serviciosTexto;
    margin-top: 0;
    margin-bottom: 0;
}
    
#circulos{
    margin-top: .5em; 
}

.circulos__container{
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: "circ1" 
                        "circ2" 
                        "circ3";
    row-gap: 1em;
}

#sobremi section{
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "sobreMiImg" 
                        "sobreMiTexto";
    align-items: flex-start;

}


#contacto{
    grid-template-columns: 1fr;
    grid-template-rows: 0.25fr 0.2fr 0.5fr;
    grid-template-areas: "redes"
                         "map"
                         "form";
    justify-items: center;
}


}

@media only screen and (max-width: 500px){

header{
    font-size: .7rem;
}

.circulos__container{
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: "circ1" 
                        "circ2" 
                        "circ3";
    row-gap: 1em;
}

#sobremi section{
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "sobreMiImg" 
                        "sobreMiTexto";
    align-items: flex-start;

}


#contacto{
    grid-template-columns: 1fr;
    grid-template-rows: 0.25fr 0.2fr 0.5fr;
    grid-template-areas: "redes"
                         "map"
                         "form";
    justify-items: center;
}




}
