@import './variables';
@import './mixins';
@import './fixed-elements';
@import './header';
@import './main/main.scss';
@import './footer';

*{
    @include reset;
}

body{
    font-family: 'Poppins', sans-serif;
    background: map-get($colores, fondo);    
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto;
    grid-template-areas: "header"
                        "main"
                        "footer";

}


