#sobremi{
    color: white;
    h1{
        justify-self: center;
        margin-top: 1em;
    }
}

#sobremi section{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "sobreMiImg sobreMiTexto";
    place-items: center;
}

.sobremi__img{
    grid-area: sobreMiImg;
    display: flex;
    justify-content: center;
}

.sobremi__texto{
    grid-area: sobreMiTexto;
    padding: 1em;
}

#sobremi img{
    border-radius: 5%;
    border:10px solid #666;
}

@media only screen and (max-width: 1024px){

    #sobremi section{
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas: "sobreMiImg" 
                            "sobreMiTexto";    
    }
}    

@media only screen and (max-width: 500px){


    #sobremi section{
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas: "sobreMiImg" 
                            "sobreMiTexto";
    
    }
}    